._hidden{
	display: none ;
}
._fix_center{
	position: fixed;
	top:50%;
	left: 50%
}
#roading{
	position: relative;
}
.main_container_initial{
	margin-top:20px;
}
.item_sytle{
    height: 66px;
	padding: 5px;
}
.otherPage{
    left:100%;
	transition: 0.5s;
	z-index: 999;
}
.otherPage.active{
    left:0%;
}
._listHolder{
	margin-bottom: 76px;
}
._headerTitle{
	margin-left: 30px;
}
._textareaBox{
	height: 330px;
}
._textareaInner{
	height: 300px;
}
._cursor{
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}